.browse {
background-color: #639FAB;
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        .col {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 10px;
            img {
                width: 200;
                height: 200;
                // margin: 25px;
            }
            .desc {
                width: 150px;
                height: 200px;

                color: #FFF;
                

            }
        }
    }
}